.employeesPage .employeesTable .tr {
  grid-template-columns:
    minmax(90px, 0.9fr)
    minmax(140px, 1.2fr)
    minmax(200px, 1.6fr)
    minmax(140px, 1.2fr)
    minmax(140px, 1.2fr)
    200px;
  align-items: center;
}

@media (max-width: 900px) {
  .employeesPage .employeesTable .tr {
    grid-template-columns: 1fr;
  }
}
